# Codebook

## bd CPS list of variables and possible values

March 6, 2019

Brian Dew, @bd_econ, brianwdew@gmail.com

-----

Store a list of bd CPS variables and their datatype, availability, average coverage, and list of possible entries.

In [1]:
# Preliminaries
import pandas as pd
import numpy as np
import os

os.chdir('/home/brian/Documents/econ_data/bd_CPS/')

from bd_CPS_details import CodebookNotes

os.chdir('/home/brian/Documents/CPS/data/clean/')

In [2]:
# Go through data and store requested details
d = {}

for year in range(1989, 2020):
    data = pd.read_feather(f'cps{year}.ft')
    for month, df in data.groupby('MONTH'):
        date = pd.to_datetime(f'{year}-{month}-01')
        variables = list(df.keys())
        for var in variables:
            
            values_list = list(df[var].dropna().unique())
            if 'ID' in var or 'WAGE' in var:
                values_list = []
            
            if var in d.keys():

                date_list = d[var]['avail']
                date_list.append(date)
                
                dtypes = d[var]['dtype']
                if df[var].dtype.name not in dtypes:
                    if len(dtypes) > 0:
                        d[var]['breaks'].append(date)
                    dtypes.append(df[var].dtype.name)
                    
                if len(values_list) < 1000:
                    values = d[var]['values']
                    for value in values_list:
                        if value not in values:
                            values.append(value)
                if len(values_list) > 1000:
                    loc_max = sorted(values_list)[-1]
                    loc_min = sorted(values_list)[0]
                    if d[var]['max_val'] == None:
                        max_val = loc_max
                        min_val = loc_min
                    if d[var]['max_val'] != None:
                        max_val = d[var]['max_val']
                        min_val = d[var]['min_val']

                    if loc_max >= max_val:
                        d[var]['max_val'] = loc_max
                    if loc_min <= min_val:
                        d[var]['min_val'] = loc_min
                        
                            
            if var not in d.keys():
                d[var] = {}
                d[var]['breaks'] = []
                d[var]['max_val'] = None
                d[var]['min_val'] = None
                d[var]['avail'] = [date]
                d[var]['dtype'] = [df[var].dtype.name]
                if len(values_list) < 1000 and len(values_list) > 0:
                    d[var]['values'] = values_list
                else:
                    d[var]['values'] = []
                    
for key, values in d.items():
    avail = sorted(values['avail'])
    max_date = avail[-1].strftime('%Y-%m')
    values['date_max'] = max_date
    min_date = avail[0].strftime('%Y-%m')
    values['date_min'] = min_date

## Print Codebook

In [3]:
# Print out the bd CPS codebook
print('\n========================\n\n    bd CPS Codebook'
      '\n\n========================\n')
print('updated: March 6, 2019\n\nvariables:\n')
for key, values in d.items():
    if key in CodebookNotes.keys():
        print(f'{key} - {CodebookNotes[key]["Name"]}')
        print(f'    Notes: {CodebookNotes[key]["Notes"]}')
    else:
        print(f'{key}')
    print(f'    Data types: {values["dtype"]}')
    print(f'    Available from: {values["date_min"]} to: {values["date_max"]}')
    if len(values['breaks']) > 0:
          print(f'    Breaks in dtype: {values["breaks"]}')
    print('    Value range: ')
    if len(sorted(values['values'])) > 0:
        print(sorted(values['values']))
    else:
        print(f'{values["min_val"]} to {values["max_val"]}')
    print('\n\n')

========================

    bd CPS Codebook

========================

updated: March 6, 2019

variables:

MONTH - Month
    Notes: Survey reference month.
    Data types: ['int8', 'category']
    Available from: 1989-01 to: 2019-01
    Breaks in dtype: [Timestamp('1994-01-01 00:00:00')]
    Value range:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]



YEAR - Year
    Notes: Survey reference year.
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
[1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]



MIS - Month in sample
    Notes: Household month in sample.
    Data types: ['int8', 'category']
    Available from: 1989-01 to: 2019-01
    Breaks in dtype: [Timestamp('1994-01-01 00:00:00')]
    Value range:
[1, 2, 3, 4, 5, 6, 7, 8]



METSTA
    Data types: ['int8']
    Available from: 1989-01 to: 2019-01
    Value range:
[-1, 1, 2, 3]



HHID - Household ID 1
    Notes: First part of CPS household ID
    Data types: ['int64']
    Available from: 1989-01 to: 2019-01
    Value range:
None to None



PULINENO - Person line number
    Notes: Unique line number for person
    Data types: ['int8', 'category']
    Available from: 1989-01 to: 2019-01
    Breaks in dtype: [Timestamp('1994-01-01 00:00:00')]
    Value range:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]



AGE - Age
    Notes: Person age, topcoded in some cases
    Data types: ['int8']
    Available from: 1989-01 to: 2019-01
    Value range:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]



MAJACT
    Data types: ['int8']
    Available from: 1989-01 to: 1993-12
    Value range:
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8]



HRSACTT - Actual hours worked, total
    Notes: Actual hours worked in reference week, all jobs total
    Data types: ['int8', 'int16']
    Available from: 1989-01 to: 2019-01
    Breaks in dtype: [Timestamp('1994-01-01 00:00:00')]
    Value range:
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 158, 159, 160, 161, 162, 164, 165, 167, 168, 169, 170, 171, 172, 174, 175, 176, 178, 179, 180, 181, 183, 184, 186, 189, 190, 192, 195, 196, 197, 198]



UNEMPDUR - Unemployment Duration
    Notes: Number of weeks person has been unemployed
    Data types: ['int8', 'int16']
    Available from: 1989-01 to: 2019-01
    Breaks in dtype: [Timestamp('1994-01-01 00:00:00')]
    Value range:
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 124]



IND80
    Data types: ['category']
    Available from: 1989-01 to: 2002-12
    Value range:
[-1, 10, 11, 12, 20, 21, 30, 31, 32, 40, 41, 42, 50, 60, 100, 101, 102, 110, 111, 112, 120, 121, 122, 130, 132, 140, 141, 142, 150, 151, 152, 160, 161, 162, 171, 172, 180, 181, 182, 190, 191, 192, 200, 201, 210, 211, 212, 220, 221, 222, 230, 231, 232, 241, 242, 250, 251, 252, 261, 262, 270, 271, 272, 280, 281, 282, 290, 291, 292, 300, 301, 310, 311, 312, 320, 321, 322, 331, 332, 340, 341, 342, 350, 351, 352, 360, 361, 362, 370, 371, 372, 380, 381, 382, 390, 391, 392, 400, 401, 402, 410, 411, 412, 420, 421, 422, 432, 440, 441, 442, 450, 451, 452, 460, 461, 462, 470, 471, 472, 500, 501, 502, 510, 511, 512, 521, 522, 530, 531, 532, 540, 541, 542, 550, 551, 552, 560, 561, 562, 571, 580, 581, 582, 590, 591, 592, 600, 601, 602, 610, 611, 612, 620, 621, 622, 623, 630, 631, 632, 633, 640, 641, 642, 650, 651, 652, 660, 661, 662, 663, 670, 671, 672, 681, 682, 691, 700, 701, 702, 710, 711, 712, 721, 722, 730, 731, 732, 740, 741, 742, 750, 751, 752, 760, 761, 762, 770, 771, 772, 780, 781, 782, 790, 791, 800, 801, 802, 810, 812, 820, 821, 822, 830, 831, 832, 840, 841, 842, 850, 851, 852, 860, 861, 862, 863, 870, 871, 872, 873, 880, 881, 882, 890, 891, 892, 893, 900, 901, 910, 921, 922, 930, 931, 932, 991]



OCC80
    Data types: ['category']
    Available from: 1989-01 to: 2002-12
    Value range:
[-1, 3, 4, 5, 6, 7, 8, 9, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 33, 34, 35, 36, 37, 43, 44, 45, 46, 47, 48, 49, 53, 54, 55, 56, 57, 58, 59, 63, 64, 65, 66, 67, 68, 69, 73, 74, 75, 76, 77, 78, 79, 83, 84, 85, 86, 87, 88, 89, 95, 96, 97, 98, 99, 103, 104, 105, 106, 113, 114, 115, 116, 117, 118, 119, 123, 124, 125, 126, 127, 128, 129, 133, 134, 135, 136, 137, 138, 139, 143, 144, 145, 146, 147, 148, 149, 153, 154, 155, 156, 157, 158, 159, 163, 164, 165, 166, 167, 168, 169, 173, 174, 175, 176, 177, 178, 179, 183, 184, 185, 186, 187, 188, 189, 193, 194, 195, 197, 198, 199, 203, 204, 205, 206, 207, 208, 213, 214, 215, 216, 217, 218, 223, 224, 225, 226, 227, 228, 229, 233, 234, 235, 243, 253, 254, 255, 256, 257, 258, 259, 263, 264, 265, 266, 267, 268, 269, 274, 275, 276, 277, 278, 283, 284, 285, 303, 304, 305, 306, 307, 308, 309, 313, 314, 315, 316, 317, 318, 319, 323, 325, 326, 327, 328, 329, 335, 336, 337, 338, 339, 343, 344, 345, 346, 347, 348, 349, 353, 354, 355, 356, 357, 359, 363, 364, 365, 366, 368, 369, 373, 374, 375, 376, 377, 378, 379, 383, 384, 385, 386, 387, 389, 403, 404, 405, 406, 407, 413, 414, 415, 416, 417, 418, 423, 424, 425, 426, 427, 433, 434, 435, 436, 437, 438, 439, 443, 444, 445, 446, 447, 448, 449, 453, 454, 455, 456, 457, 458, 459, 461, 462, 463, 464, 465, 466, 467, 468, 469, 473, 474, 475, 476, 477, 479, 483, 484, 485, 486, 487, 488, 489, 494, 495, 496, 497, 498, 499, 503, 505, 506, 507, 508, 509, 514, 515, 516, 517, 518, 519, 523, 525, 526, 527, 529, 533, 534, 535, 536, 538, 539, 543, 544, 547, 549, 553, 554, 555, 556, 557, 558, 563, 564, 565, 566, 567, 569, 573, 575, 576, 577, 579, 583, 584, 585, 587, 588, 589, 593, 594, 595, 596, 597, 598, 599, 613, 614, 615, 616, 617, 628, 633, 634, 635, 636, 637, 639, 643, 644, 645, 646, 647, 649, 653, 654, 655, 656, 657, 658, 659, 666, 667, 668, 669, 673, 674, 675, 676, 677, 678, 679, 683, 684, 686, 687, 688, 689, 693, 694, 695, 696, 699, 703, 704, 705, 706, 707, 708, 709, 713, 714, 715, 717, 719, 723, 724, 725, 726, 727, 728, 729, 733, 734, 735, 736, 737, 738, 739, 743, 744, 745, 747, 748, 749, 753, 754, 755, 756, 757, 758, 759, 763, 764, 765, 766, 768, 769, 773, 774, 777, 779, 783, 784, 785, 786, 787, 789, 793, 794, 795, 796, 797, 798, 799, 803, 804, 805, 806, 808, 809, 813, 814, 823, 824, 825, 826, 828, 829, 833, 834, 843, 844, 845, 848, 849, 853, 855, 856, 859, 863, 864, 865, 866, 867, 868, 869, 873, 874, 875, 876, 877, 878, 883, 885, 887, 888, 889, 905]



WANTJB
    Data types: ['int8']
    Available from: 1989-01 to: 1993-12
    Value range:
[-1, 0, 1, 2, 3, 4]



HRSUSL1 - Usual hours worked, main job
    Notes: Usual hours worked at main job, per week
    Data types: ['int8']
    Available from: 1989-01 to: 2019-01
    Value range:
[-4, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]



LFSR
    Data types: ['int8']
    Available from: 1989-01 to: 1993-12
    Value range:
[-1, 0, 1, 2, 3, 4, 5, 6, 7]



NLFREA
    Data types: ['int8']
    Available from: 1989-01 to: 1993-12
    Value range:
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]



IND80M
    Data types: ['category']
    Available from: 1989-01 to: 2002-12
    Value range:
[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]



IND80D
    Data types: ['category']
    Available from: 1989-01 to: 2002-12
    Value range:
[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52]



OCC80M
    Data types: ['category']
    Available from: 1989-01 to: 2002-12
    Value range:
[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]



OCC80D
    Data types: ['category']
    Available from: 1989-01 to: 2002-12
    Value range:
[-1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46]



FNLWGT
    Data types: ['int32']
    Available from: 1989-01 to: 1993-12
    Value range:
8855 to 1679529



ERNLWT
    Data types: ['int32']
    Available from: 1989-01 to: 1993-12
    Value range:
-1 to 5861842



EDUC - Education level
    Notes: Highest level of education attained: Advanced degree, college degree, some college but no degree or associate degree, high school degree, less than high school degree.
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
['ADV', 'COLL', 'HS', 'LTHS', 'SC']



STATE - State
    Notes: Two letter US state code.
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']



REGION - Region
    Notes: Census regional grouping of states.
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
['Midwest', 'Northeast', 'South', 'West']



FEMALE - Female
    Notes: Indicates if person is identified as female.
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
[0, 1]



WBHAO - Race/Ethnic Group
    Notes: Time-consistent racial/ethnic group: white non-Hispanic, black non-Hispanic, Hispanic any race, Asian non-Hispanic, or other non-Hispanic (primarily native American).
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
['Asian', 'Black', 'Hispanic', 'Other', 'White']



VETERAN - Veteran
    Notes: Indicates if person is veteran
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
[0.0, 1.0]



SCHENR - School enrolled
    Notes: Indicates if person was enrolled in school during prior week.
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
[0.0, 1.0]



MARRIED - Married
    Notes: Indicates if person is currently married.
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
[0.0, 1.0]



EMP - Employed
    Notes: Indicates if someone is employed for any hours
    Data types: ['category']
    Available from: 1989-01 to: 1993-12
    Value range:
[0, 1]



LFS - Labor force status
    Notes: Indicates whether someone is employed, unemployed, or not in the labor force (NILF).
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
['Employed', 'NILF', 'Unemployed', 'nan']



COW1 - Class of worker 1
    Notes: Class of worker on main job
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
['Federal Government', 'Local Government', 'Private', 'Self-employed Incorporated', 'Self-employed Unincorporated', 'State Government', 'Without Pay', 'nan']



UNEMPTYPE - Unemployment type
    Notes: Type of unemployment: job loser/on layoff, job leaver, re-entrant, or new entrant
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
['Job Leaver', 'Job Loser', 'New Entrant', 'Re-entrant', 'nan']



PTECON - Part-time for economic reasons
    Notes: People who want to work full-time but are not able to because of economic reasons
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
[0.0, 1.0]



WORKFT - Education level
    Notes: Indicates if person worked full-time (35 hours or more) in the reference week.
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
[0.0, 1.0]



UNION - Union
    Notes: Indicates if person is covered by a union contract or similar collective bargaining agreement.
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
[0.0, 1.0]



UNIONMEM - Union member
    Notes: Indicates if person is a member of a union or similar employee association.
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
[0.0, 1.0]



PAIDHRLY - Paid hourly
    Notes: Indicates whether person is usually paid on a per-hour basis.
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
None to None



INDGRP - Industry Group
    Notes: Major industry group
    Data types: ['category']
    Available from: 1989-01 to: 2019-01
    Value range:
['Armed forces', 'Construction and mining', 'Education and health', 'Finance and business services', 'Leisure and hospitality', 'Manufacturing', 'Public administration', 'Trade, transportation, and utilities']



WKWAGE - Weekly wage
    Notes: Nominal weekly earnings, in USD.
    Data types: ['float32']
    Available from: 1989-01 to: 2019-01
    Value range:
None to None



HRWAGE - Hourly wage
    Notes: Nominal hourly earnings, in USD.
    Data types: ['float32']
    Available from: 1989-01 to: 2019-01
    Value range:
None to None



RHRWAGE - Real hourly wage
    Notes: Real hourly earnings, in USD, adjusted for inflation by regional CPI-U.
    Data types: ['float32']
    Available from: 1989-01 to: 2019-01
    Value range:
None to None



RWKWAGE - Real weekly wage
    Notes: Real weekly earnings, in USD, adjusted for inflation by regional CPI-U.
    Data types: ['float32']
    Available from: 1989-01 to: 2019-01
    Value range:
None to None



BASICWGT - Basic weight
    Notes: Basic person weight, equal to the composite weight where available.
    Data types: ['float32']
    Available from: 1989-01 to: 2019-01
    Value range:
-9.999999747378752e-05 to 34708.83203125



PWORWGT - Female
    Notes: Person weight for outgoing rotation group variables, such as wage or hours or union membership.
    Data types: ['float32', 'float64']
    Available from: 1989-01 to: 2019-01
    Breaks in dtype: [Timestamp('2000-01-01 00:00:00')]
    Value range:
-1.0 to 133411.078125



PRDTRACE - Race/ethnicity
    Notes: Original CPS definitions for race or combination of races
    Data types: ['category']
    Available from: 1994-01 to: 2019-01
    Value range:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]



HRSUSL2 - Usual hours, job 2
    Notes: Number of hours usually worked, per week, at second job
    Data types: ['int8']
    Available from: 1994-01 to: 2019-01
    Value range:
[-4, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99]



HRSUSLT - Usual hours, total
    Notes: Number of hours usually worked, per week, total
    Data types: ['int16']
    Available from: 1994-01 to: 2019-01
    Value range:
[-4, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 154, 155, 156, 157, 158, 159, 160, 162, 164, 165, 166, 168, 169, 170, 171, 172, 173, 174, 176, 178, 179, 180, 182, 183, 184, 188, 189, 192, 194, 195, 196, 197, 198]



HRSACT1 - Actual hours, main job
    Notes: Number of hours actually worked last week, main job
    Data types: ['int8']
    Available from: 1994-01 to: 2019-01
    Value range:
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]



HRSACT2 - Actual hours, job 2
    Notes: Number of hours actually worked last week, second job
    Data types: ['int8']
    Available from: 1994-01 to: 2019-01
    Value range:
[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]



PRFTLF
    Data types: ['category']
    Available from: 1994-01 to: 2019-01
    Value range:
[-9, -1, 1, 2]



IND280
    Data types: ['category']
    Available from: 1994-01 to: 2002-12
    Value range: