### Family relationships in the CPS

Brian Dew, April 16, 2019, brian.w.dew@gmail.com

----

Identify how many own kids each person has in their household, first under 18, then under age 5.

In [14]:
# Import libraries
import os
import numpy as np
import pandas as pd

os.chdir('/home/brian/Documents/CPS/data/clean/')

In [26]:
columns = ['MONTH', 'PARENT', 'SPOUSE',
           'PRNMCHLD', 'PULINENO', 
           'STATE', 'AGE',
           'HHID', 'HHID2']
df = (pd.read_feather('cps2019.ft', columns=columns)
        .query('MONTH == 3')
        .astype({'PULINENO': 'int8'}))

kids = (df.query('AGE < 18 and PARENT > 0')
          .groupby(['HHID', 'HHID2', 'STATE', 'PARENT']).PULINENO.count()
          .reset_index()
          .rename({'PARENT': 'PULINENO', 
                   'PULINENO': 'NUMCHILD1'}, axis=1))
result = (df.merge(kids, 'left')
            .merge(kids.rename({'PULINENO': 'SPOUSE', 
                                'NUMCHILD1': 'NUMCHILD2'}, axis=1), 'left'))
df['NCHILDU18'] = (np.where(result['NUMCHILD1'] > 0, result['NUMCHILD1'],
                   np.where(result['NUMCHILD2'] > 0, result['NUMCHILD2'], 0))
                     .astype('int8'))

data = (df.query('AGE < 5 and PARENT > 0')
          .groupby(['HHID', 'HHID2', 'STATE', 'PARENT']).PULINENO.count()
          .reset_index()
          .rename({'PARENT': 'PULINENO', 
                   'PULINENO': 'NUMCHILD1'}, axis=1))
result2 = (df.merge(data, 'left')
             .merge(data.rename({'PULINENO': 'SPOUSE', 
                                 'NUMCHILD1': 'NUMCHILD2'}, axis=1), 'left'))
df['NCHILDU5'] = (np.where(result2['NUMCHILD1'] > 0, result2['NUMCHILD1'],
                  np.where(result2['NUMCHILD2'] > 0, result2['NUMCHILD2'], 0))
                    .astype('int8'))

df = df.drop(['NUMCHILD1', 'NUMCHILD2', 'PARENT', 'SPOUSE'], axis=1)

In [27]:
result

,HHID,MONTH,HHID2,PULINENO,PRNMCHLD,AGE,STATE,NCHILDU18,NCHILDU5
0,4795110719,3,9011,1,0,68,AL,0,0
1,4795110719,3,9011,2,0,64,AL,0,0
2,110177987986,3,8011,1,0,64,AL,0,0
3,110177987986,3,8011,2,0,60,AL,0,0
4,110177987986,3,8111,1,0,80,AL,0,0
5,110200762066,3,8111,1,0,24,AL,0,0
6,110267480552,3,8112,1,2,31,AL,2,1
7,110267480552,3,8112,4,0,4,AL,0,0
8,110267480552,3,8112,2,0,10,AL,0,0
9,110267480552,3,8112,3,0,30,AL,0,0
10,110284815680,3,8111,1,0,74,AL,0,0
11,110347170965,3,8111,1,0,37,AL,0,0
12,110370885915,3,9111,1,0,68,AL,0,0
13,110370885915,3,9111,2,0,69,AL,0,0
14,110405887199,3,8011,1,0,63,AL,0,0
15,110405887199,3,8011,3,0,33,AL,0,0
16,110405887199,3,8011,2,0,67,AL,0,0
17,110416635520,3,8111,1,0,68,AL,0,0
18,110447170975,3,8111,1,1,26,AL,1,1
19,110447170975,3,8111,2,0,4,AL,0,0
20,110486055245,3,8011,1,0,50,AL,0,0
21,110509947170,3,9011,1,0,57,AL,0,0
22,110614031191,3,9111,1,0,24,AL,0,0
23,110761517565,3,9011,1,0,66,AL,0,0
24,110761517565,3,9011,2,0,45,AL,0,0
25,110982905669,3,9011,1,2,31,AL,2,0
26,110982905669,3,9011,2,2,42,AL,2,0
27,110982905669,3,9011,4,0,7,AL,0,0
28,110982905669,3,9011,3,0,11,AL,0,0
29,110986055205,3,9011,1,0,33,AL,0,0
...,...,...,...,...,...,...,...,...,...
117724,905517039610115,3,9012,1,3,42,WY,3,0
117725,905517039610115,3,9012,2,3,43,WY,3,0
117726,905517039610115,3,9012,5,0,11,WY,0,0
117727,905517039610115,3,9012,4,0,13,WY,0,0
117728,905517039610115,3,9012,3,0,17,WY,0,0
117729,905527030610215,3,9011,1,1,49,WY,1,0
117730,905527030610215,3,9011,2,1,52,WY,1,0
117731,905527030610215,3,9011,3,0,13,WY,0,0
117732,906506257610377,3,8111,1,0,79,WY,0,0
117733,906516250610777,3,8011,1,2,35,WY,2,0
117734,906516250610777,3,8011,2,2,34,WY,2,0
117735,906516250610777,3,8011,4,0,6,WY,0,0
117736,906516250610777,3,8011,3,0,13,WY,0,0
117737,911261006750219,3,9011,1,0,62,WY,0,0
117738,926363801781501,3,9111,1,0,64,WY,0,0
117739,926363801781501,3,9111,2,0,61,WY,0,0
117740,926363801781501,3,9111,3,0,53,WY,0,0
117741,951968007150648,3,9011,1,0,75,WY,0,0
117742,951968007150648,3,9011,2,0,75,WY,0,0
117743,956729301591507,3,9011,1,0,76,WY,0,0
117744,956729301591507,3,9011,2,0,69,WY,0,0
117745,965568100004718,3,8012,1,0,49,WY,0,0
117746,965577120808513,3,9011,1,0,74,WY,0,0
117747,965577120906503,3,8011,1,1,43,WY,1,0
117748,965577120906503,3,8011,2,1,44,WY,1,0
117749,965577120906503,3,8011,4,0,14,WY,0,0
117750,965577120906503,3,8011,3,0,18,WY,0,0
117751,966353301820509,3,8111,1,0,34,WY,0,0
117752,966353301820509,3,8111,2,0,31,WY,0,0
117753,966353301820509,3,8111,3,0,32,WY,0,0