### United Nations ComTrade

In [1]:
import requests
import pandas as pd
import time

# Used to loop over countries 5 at a time.
def chunker(seq, size):
    return (seq[pos:pos + size] for pos in xrange(0, len(seq), size))

c_codes = pd.read_csv('codes/country_codes.csv').set_index('id')

In [5]:
url = 'http://comtrade.un.org/api/get?max=50000&type=C&freq=A&px=HS'
d = {}
prod = '440710'
years = ['2005', '2010', '2015']

In [6]:
for n in chunker(c_codes.index.values[1:], 5):
    req = '&ps={}&r=all&p={}&rg=1%2C2&cc={}'.format(
        '%2C'.join(years),
        '%2C'.join(n), 
        prod)
    data = requests.get('{}{}'.format(url, req)).json()
    d[n[0]] = pd.DataFrame(data['dataset'])[['TradeValue', 'pt3ISO', 
                                             'rt3ISO', 'rtTitle', 
                                             'period', 'rgDesc'
                                            ]].set_index('pt3ISO')
    time.sleep(5)

In [7]:
df = pd.concat(d.values())
df.fillna(value='TWN', inplace=True)
df = df.drop('rtTitle', 1)
df.head()

        TradeValue rt3ISO  period  rgDesc
pt3ISO
MYS         277953    ARG    2015  Export
MYS         120140    AUS    2015  Import
MYS        7349902    AUS    2015  Export
MYS            671    AUT    2015  Export
MLT        2868925    AUT    2015  Export

In [8]:
df.to_csv('440710.csv')