### Unique CPS Household ID 

February 18, 2019

Brian Dew, @bd_econ

-----

Drawn primarily from the description of the IPUMS CPSID. Works currently for 1998-onward

In [1]:
# Import preliminaries
import os, re, struct, pickle, string, sys
import pandas as pd
print('pandas:', pd.__version__)
pd.options.mode.chained_assignment = None
import numpy as np
print('numpy:', np.__version__)
from bd_CPS_details import StatesMap, DataDict

os.chdir('/home/brian/Documents/CPS/data')

#sys.stdout = open('cps_id_log.txt', 'w')

dd_matcher = pickle.load(open('cps_basic_dd.pkl', 'rb'))['matcher']


# Storage of IDs in pickled dictionary
ids_file = 'CPS_unique_ids.pkl'
if os.path.isfile(ids_file):
    print('ID dictionary file exists')
    cps_ids_full = pickle.load(open(ids_file, 'rb'))
else:
    cps_ids_full = {}

pandas: 0.24.1
numpy: 1.15.4
ID dictionary file exists

In [2]:
#cps_ids_full = dict()

#date_range = pd.date_range(start='1995-01-01', end='1997-12-01', freq='MS')

#for del_month in date_range:
#    if del_month in cps_ids_full.keys():
#        del cps_ids_full[del_month]

In [3]:
# Return regex pattern that will parse data dictionary dd_file
def return_dd_parser(dd_file):
    
    DataDict = {'January_2017_Record_Layout.txt': 
                '\n(\w+)\s+(\d+)\s+.*?\t+.*?(\d\d*).*?(\d\d+)',
                'January_2015_Record_Layout.txt':
                '\n(\w+)\s+(\d+)\s+.*?\t+.*?(\d\d*).*?(\d\d+)',
                'January_2014_Record_Layout.txt':
                '\n(\w+)\s+(\d+)\s+.*?\t+.*?(\d\d*).*?(\d\d+)',
                'January_2013_Record_Layout.txt':
                '\n(\w+)\s+(\d+)\s+.*?\t+.*?(\d\d*).*?(\d\d+)',
                'may12dd.txt':
                '\n(\w+)\s+(\d+)\s+.*?\t+.*?(\d\d*).*?(\d\d+)',
                'jan10dd.txt':
                '\n(?:\x0c)?(\w+)\s+(\d+)\s+.*? \s+.*?(\d\d*).*?(\d\d+)',
                'jan09dd.txt':
                '\n(?:\x0c)?(\w+)\s+(\d+)\s+.*? \s+.*?(\d\d*).*?(\d\d+)',
                'jan07dd.txt':
                '\n(?:\x0c)?(\w+)\s+(\d+)\s+.*? \s+.*?(\d\d*).*?(\d\d+)',
                'augnov05dd.txt':
                '\n(?:\x0c)?(\w+)\s+(\d+)\s+.*? \s+.*?(\d\d*).*?(\d\d+)',
                'may04dd.txt':
                '\n(?:\x0c)?(\w+)\s+(\d+)\s+.*? \s+.*?(\d\d*).*?(\d\d+)',
                'jan03dd.txt':
                '\n(?:\x0c)?(\w+)\s+(\d+)\s+.*? \s+.*?(\d\d*).*?(\d\d+)',
                'jan98dd.asc':
                'D (\w+)\s+(\d{1,2})\s+(\d+)\s+',
                'jan98dd2.asc':
                'D (\w+)\s+(\d{1,2})\s+(\d+)\s+',
                'sep95_dec97_dd.txt':
                '\n(?:\x0c)?(\w+)\s+(\d+)\s+.*? \s+.*?(\d\d*).*?(\d\d+)',
                'jun95_aug95_dd.txt':
                '\n(?:\x0c)?(\w+)\s+(\d+)\s+.*? \s+.*?(\d\d*).*?(\d\d+)',
                'apr94_may95_dd.txt':
                '\n(?:\x0c)?(\w+)\s+(\d+)\s+.*? \s+.*?(\d\d*).*?(\d\d+)',
                'jan94_mar94_dd.txt':
                '\n(?:\x0c)?(\w+)\s+(\d+)\s+.*? \s+.*?(\d\d*).*?(\d\d+)'}
    
    return DataDict[dd_file]


# Create HHID2 for pre May 2004 data
def id2_gen(np_mo):
    hrsample = [x[1:3] for x in np_mo['HRSAMPLE']]
    hrsersuf = [x.strip() for x in np_mo['HRSERSUF']]
    sersuf_d = {a: str(ord(a.lower()) - 96).zfill(2) for a in set(hrsersuf)
            if a in list(string.ascii_letters)}
    sersuf_d.update({'-1': '00', '-1.0': '00', '0': '00'})
    sersuf = list(map(sersuf_d.get, hrsersuf))
    np_mo.loc[np_mo['HUHHNUM'] < 0, 'HUHHNUM'] = 0
    huhhnum = np_mo['HUHHNUM'].astype('U1')
    
    id2 = [''.join(i) for i in zip(hrsample, sersuf, huhhnum)]

    return(np.array(id2, dtype='uint32'))

In [4]:
# List of monthly raw CPS data files to process
raw_monthly_data_file_list = [file for file in os.listdir() 
                              if file.endswith('pub.dat') 
                              and (pd.to_datetime(file[:5], format='%b%y')
                                   >= pd.to_datetime('1995-05-01')) and
                              (pd.to_datetime(file[:5], format='%b%y')
                                   not in cps_ids_full.keys())]

#raw_monthly_data_file_list = ['nov04pub.dat']

In [5]:
# For 1995-1997 map the HHID and HHID2 to QSTNUM
pre98files = [f[3:5] for f in raw_monthly_data_file_list 
              if f[3:5] in ['95', '96', '97']]

if len(pre98files) > 0:
    qstnum_map_file = 'qstnum_map.pkl'
    if os.path.isfile(qstnum_map_file):
        print('QSTNUM mapping dictionary file exists')
        qstnum_map = pickle.load(open(qstnum_map_file, 'rb'))
    else:
        qstnum_map = {}

        columns = ['MONTH', 'HHID', 'HHID2', 'QSTNUM']

        for year in [1995, 1996, 1997]:
            df = pd.read_feather(f'clean/cps{year}.ft', columns=columns)
            df['ID'] = df['HHID'].astype('str') + df['HHID2'].astype('str')
            for month in df['MONTH'].unique():
                date = (year * 100 + month) % 10000
                dfm = df[df['MONTH'] == month].copy()
                qstnum_map[date] = dfm.set_index('ID')['QSTNUM'].to_dict()
        # Write to file
        with open(qstnum_map_file, 'wb') as f:
            pickle.dump(qstnum_map, f)

QSTNUM mapping dictionary file exists

In [6]:
# Loop over files of interest and generate unique IDs
for file in raw_monthly_data_file_list:
    # Details for matching new file to previous data
    curr_mo = pd.to_datetime(file[:5], format='%b%y')
    curr_mo_short = int(curr_mo.strftime('%y%m'))
    
    # Handling dates before and at break
    if curr_mo < pd.to_datetime('1995-05-01'):
        continue

    print('Current month:', curr_mo)
    
    # Identify possible matching months
    mo_diffs = [1, 2, 3, 9, 10, 11, 12, 13, 14, 15]
    poss_mos = [poss_mo for poss_mo in [curr_mo - pd.DateOffset(months=mo_diff)
                for mo_diff in mo_diffs] 
                if poss_mo >= pd.to_datetime('1995-05-01')]
    
    # Put in format to match with bd CPS data
    yymms = [int(pm.strftime('%y%m')) for pm in poss_mos]

    # Which annual bd CPS files to pull
    years = list(set([pm.year for pm in poss_mos]))
    if curr_mo == pd.to_datetime('1995-05-01'):
        yymms = ['9505']
        years = [1995]
    bd_CPS_files = [f'cps{year}.ft' for year in years]
    
    # For each month in sample, which months can match?
    match_months = {
        2: [1],
        3: [2, 1],
        4: [3, 2, 1],
        5: [12, 11, 10, 9],
        6: [13, 12, 11, 10, 1],
        7: [14, 13, 12, 11, 2, 1],
        8: [15, 14, 13, 12, 3, 2, 1]
    }
    
    # Return list of yymms to search for each MIS based on curr_mo
    search_list = {mis: [int(search_mo.strftime('%y%m')) for search_mo in 
                         [curr_mo - pd.DateOffset(months=mo_diff) 
                          for mo_diff in match_months[mis]] 
                         if search_mo > pd.to_datetime('1995-08-01')]
                   for mis in [2, 3, 4, 5, 6, 7, 8]}

    # Background to read current monthly file
    # read data dictionary text file 
    dd_file = dd_matcher[file]
    data_dict = open(dd_file, 'r', encoding='iso-8859-1').read()
    if dd_file == 'may04dd.txt':
        data_dict = data_dict.replace('HRHHID (partII)', 'HRHHID2')

    # manually list out the IDs for series of interest 
    var_names = ['HRMONTH', 'HRYEAR4', 'HRMIS', 'QSTNUM', 'OCCURNUM', 
                 'HRHHID', 'HRHHID2', 'GESTFIPS', 'HWHHWGT']   

    if curr_mo < pd.to_datetime('2004-05-01'):
        var_names = ['HRMONTH', 'HRYEAR4', 'HRMIS', 'QSTNUM', 'OCCURNUM', 
                     'HRHHID', 'HRSAMPLE', 'HRSERSUF', 'HUHHNUM', 'GESTFIPS', 
                     'HWHHWGT', 'HRYEAR']      

    # regular expression matching series name and data dict pattern
    p = return_dd_parser(dd_file)

    # pick data type based on size of variable
    def id_dtype(size, name):
        size = int(size)
        dtype = ('U4' if name in ['HRSAMPLE']
                 else 'U2' if name in ['HRSERSUF']
                 else 'intp' if size > 9 
                 else 'int32' if size > 4 
                 else 'int16' if size > 2 
                 else 'int8')
        return dtype

    # dictionary of variable name: [start, end, and length + 's']
    if dd_file in ['jan98dd.asc', 'jan98dd2.asc']:
        d = {s[0]: [int(s[2])-1, int(s[2])+int(s[1])-1, 
                    f'{s[1]}s', id_dtype(s[1], s[0])] 
             for s in re.findall(p, data_dict) if s[0] in var_names}       
    else:
        d = {s[0]: [int(s[2])-1, int(s[3]), f'{s[1]}s', id_dtype(s[1], s[0])]
         for s in re.findall(p, data_dict) if s[0] in var_names}

    # data types
    dtypes = [(k, v[-1]) for k, v in d.items()]

    # weight variable start and end location
    ws, we = d['HWHHWGT'][:2]

    # lists of variable starts, ends, and lengths
    start, end, width, dtype = zip(*d.values())

    # create list of which characters to skip in each row
    skip = ([f'{s - e}x' for s, e in zip(start, [0] + list(end[:-1]))])

    # create format string by joining skip and variable segments
    unpack_fmt = ''.join([j for i in zip(skip, width) for j in i])

    # struct can interpret row bytes with the format string
    unpacker = struct.Struct(unpack_fmt).unpack_from

    # Assign new date variable
    date = lambda x: (((x.HRYEAR4.astype(np.int32) * 100) + 
                      x.HRMONTH.astype(np.int8)) % 10000)
    
    # 1998 and onward have OCCURNUM to keep first in HH
    if curr_mo >= pd.to_datetime('1998-01-01'):

    
        # Read new monthly file
        data = [unpacker(row) for row in open(file, 'rb') 
                if (row[ws:we].strip() > b'0')]

        # Convert to dataframe using specified weights
        df = (pd.DataFrame(np.array(data, dtype=dtypes))
                .assign(DATE = date))
        
        # Create HHID2 if necessary
        if curr_mo < pd.to_datetime('2004-05-01'):
            df['HRHHID2'] = id2_gen(df)
            
        # Keep only first observation in each HH
        df = df.drop_duplicates(subset=['HRHHID', 'HRHHID2'], keep='first')
        
    else:
        # Read new monthly file
        data = [unpacker(row) for row in open(file, 'rb') 
                if (row[ws:we].strip() > b'0')]

        # Convert to dataframe using specified weights
        df = pd.DataFrame(np.array(data, dtype=dtypes))
        
        # Create HHID2 if necessary
        if curr_mo < pd.to_datetime('2004-05-01'):
            df['HRHHID2'] = id2_gen(df)        

        # Keep only first observation in each HH
        df = df.drop_duplicates(subset=['HRHHID', 'HRHHID2'], keep='first')
        
        # Create HRYEAR4 from HRYEAR
        df['HRYEAR4'] = df['HRYEAR'] + 1900
        df = df.drop(['HRYEAR'], axis=1)
        
        # Assign date
        df = df.assign(DATE = date)
        
        # Create QSTNUM
        df['ID'] = df['HRHHID'].astype('str') + df['HRHHID2'].astype('str')
        df = df[df['ID'].isin(qstnum_map[curr_mo_short].keys())]
        df['QSTNUM'] = df['ID'].map(qstnum_map[curr_mo_short])

    # Rename HHIDs
    df = df.rename({'HRHHID': 'HHID', 'HRHHID2': 'HHID2'}, axis=1)

    # Need to map state to state id codes
    df['STATE'] = df['GESTFIPS'].map(StatesMap)

    # Drop GESTFIPS and OCCURNUM
    df = df.drop(['GESTFIPS'], axis=1)
        
    tot_hh = len(df)
    print('Total HHs in sample:', tot_hh)

    # Read potential match data
    keep_cols = ['YEAR', 'MONTH', 'MIS', 'HHID', 'HHID2', 'QSTNUM', 
                 'OCCURNUM', 'STATE']

    date = lambda x: (((x.YEAR.astype(np.int32) * 100) + 
                      x.MONTH.astype(np.int8)) % 10000)
    
    mdf = (pd.concat(
        [(pd.read_feather(f'clean/cps{year}.ft', columns=keep_cols)
            .assign(DATE = date))
         for year in years], sort=False))
    
    subset = ['YEAR', 'MONTH', 'HHID', 'HHID2']
    
    mdf = mdf.drop_duplicates(subset=subset, keep='first')

    mdf = (mdf[mdf['DATE'].isin(yymms)].drop(['MONTH', 'YEAR'], axis=1))

    # Merge data
    d = {}

    # MIS = 1 households get current id
    dfmis1 = df.loc[df['HRMIS'] == 1, ['QSTNUM', 'DATE']]
    dfmis1['ID'] = dfmis1['DATE'] * 100000 + dfmis1['QSTNUM']
    mis1id = dfmis1.set_index('QSTNUM')['ID'].to_dict()
    d.update(mis1id)
    print('New HHs (MIS1):', len(d))

    df = df.loc[df['HRMIS'] > 1]
    dft = df

    # Loop over MIS and potentional matches to find matched id
    for mis in [2, 3, 4, 5, 6, 7, 8]:    
        for pm in search_list[mis]:
            results = (dft.loc[dft['HRMIS'] == mis]
                          .merge(mdf[mdf['DATE'] == pm], 
                                 on=['HHID', 'HHID2', 'STATE']))

            results['ID'] = results['DATE_y'] * 100000 + results['QSTNUM_y']

            matched_id = results.set_index('QSTNUM_x')['ID'].to_dict()
            print(f'Matched HHs (MIS{mis}): ', len(matched_id))
            d.update(matched_id)

            dft = dft.loc[~dft['QSTNUM'].isin(matched_id.keys())]

        if len(search_list[mis]) > 0:
            # Households with no match get current id, same has MIS=1
            new_hh = dft[dft['HRMIS'] == mis]
            new_hh['ID'] = new_hh['DATE'] * 100000 + new_hh['QSTNUM']
            new_hh_d = new_hh.set_index('QSTNUM')['ID'].to_dict()
            d.update(new_hh_d)
            print(f'Replacement HHs (MIS{mis}): ', len(new_hh_d))
            if len(new_hh_d) > 2000:
                print('\nWARNING too many replacements, CHECK!\n')

    print('Total IDs created:', len(d))
    print('Total IDs not created:', tot_hh - len(d), '\n\n')

    monthly_id_dict = {curr_mo: d}

    # Save results
    cps_ids_full.update(monthly_id_dict)


# Write to file
with open(ids_file, 'wb') as f:
    pickle.dump(cps_ids_full, f)
    
print('Total months of IDs:', len(cps_ids_full))

Current month: 1996-10-01 00:00:00
Total HHs in sample: 47909
New HHs (MIS1): 5942
Matched HHs (MIS2):  5661
Replacement HHs (MIS2):  365
Matched HHs (MIS3):  5643
Matched HHs (MIS3):  344
Replacement HHs (MIS3):  152
Matched HHs (MIS4):  5370
Matched HHs (MIS4):  352
Matched HHs (MIS4):  161
Replacement HHs (MIS4):  86
Matched HHs (MIS5):  4660
Matched HHs (MIS5):  251
Matched HHs (MIS5):  62
Matched HHs (MIS5):  66
Replacement HHs (MIS5):  832
Matched HHs (MIS6):  4763
Matched HHs (MIS6):  254
Matched HHs (MIS6):  95
Matched HHs (MIS6):  36
Matched HHs (MIS6):  766
Replacement HHs (MIS6):  86
Matched HHs (MIS7):  4961
Matched HHs (MIS7):  139
Matched HHs (MIS7):  64
Matched HHs (MIS7):  681
Matched HHs (MIS7):  87
Replacement HHs (MIS7):  64
Matched HHs (MIS8):  4892
Matched HHs (MIS8):  147
Matched HHs (MIS8):  674
Matched HHs (MIS8):  122
Matched HHs (MIS8):  75
Replacement HHs (MIS8):  56
Total IDs created: 47909
Total IDs not created: 0


Current month: 1997-03-01 00:00:00
Total HHs in sample: 47133
New HHs (MIS1): 5869
Matched HHs (MIS2):  5567
Replacement HHs (MIS2):  373
Matched HHs (MIS3):  5485
Matched HHs (MIS3):  287
Replacement HHs (MIS3):  123
Matched HHs (MIS4):  5502
Matched HHs (MIS4):  330
Matched HHs (MIS4):  112
Replacement HHs (MIS4):  66
Matched HHs (MIS5):  4587
Matched HHs (MIS5):  252
Matched HHs (MIS5):  89
Matched HHs (MIS5):  68
Replacement HHs (MIS5):  783
Matched HHs (MIS6):  4661
Matched HHs (MIS6):  303
Matched HHs (MIS6):  83
Matched HHs (MIS6):  62
Matched HHs (MIS6):  665
Replacement HHs (MIS6):  96
Matched HHs (MIS7):  4504
Matched HHs (MIS7):  290
Matched HHs (MIS7):  108
Matched HHs (MIS7):  63
Matched HHs (MIS7):  714
Matched HHs (MIS7):  75
Replacement HHs (MIS7):  77
Matched HHs (MIS8):  4442
Matched HHs (MIS8):  438
Matched HHs (MIS8):  133
Matched HHs (MIS8):  57
Matched HHs (MIS8):  683
Matched HHs (MIS8):  96
Matched HHs (MIS8):  54
Replacement HHs (MIS8):  36
Total IDs created: 47133
Total IDs not created: 0


Current month: 1997-01-01 00:00:00
Total HHs in sample: 47588
New HHs (MIS1): 5781
Matched HHs (MIS2):  5679
Replacement HHs (MIS2):  367
Matched HHs (MIS3):  5631
Matched HHs (MIS3):  287
Replacement HHs (MIS3):  145
Matched HHs (MIS4):  5613
Matched HHs (MIS4):  323
Matched HHs (MIS4):  89
Replacement HHs (MIS4):  94
Matched HHs (MIS5):  4488
Matched HHs (MIS5):  287
Matched HHs (MIS5):  97
Matched HHs (MIS5):  60
Replacement HHs (MIS5):  803
Matched HHs (MIS6):  4477
Matched HHs (MIS6):  446
Matched HHs (MIS6):  133
Matched HHs (MIS6):  56
Matched HHs (MIS6):  715
Replacement HHs (MIS6):  106
Matched HHs (MIS7):  4633
Matched HHs (MIS7):  199
Matched HHs (MIS7):  117
Matched HHs (MIS7):  76
Matched HHs (MIS7):  729
Matched HHs (MIS7):  77
Replacement HHs (MIS7):  80
Matched HHs (MIS8):  4673
Matched HHs (MIS8):  254
Matched HHs (MIS8):  66
Matched HHs (MIS8):  64
Matched HHs (MIS8):  755
Matched HHs (MIS8):  89
Matched HHs (MIS8):  41
Replacement HHs (MIS8):  58
Total IDs created: 47588
Total IDs not created: 0


Current month: 1997-04-01 00:00:00
Total HHs in sample: 47306
New HHs (MIS1): 5848
Matched HHs (MIS2):  5687
Replacement HHs (MIS2):  348
Matched HHs (MIS3):  5495
Matched HHs (MIS3):  328
Replacement HHs (MIS3):  150
Matched HHs (MIS4):  5418
Matched HHs (MIS4):  278
Matched HHs (MIS4):  110
Replacement HHs (MIS4):  96
Matched HHs (MIS5):  4754
Matched HHs (MIS5):  228
Matched HHs (MIS5):  107
Matched HHs (MIS5):  54
Replacement HHs (MIS5):  701
Matched HHs (MIS6):  4668
Matched HHs (MIS6):  275
Matched HHs (MIS6):  93
Matched HHs (MIS6):  68
Matched HHs (MIS6):  736
Replacement HHs (MIS6):  94
Matched HHs (MIS7):  4676
Matched HHs (MIS7):  307
Matched HHs (MIS7):  85
Matched HHs (MIS7):  57
Matched HHs (MIS7):  644
Matched HHs (MIS7):  92
Replacement HHs (MIS7):  47
Matched HHs (MIS8):  4504
Matched HHs (MIS8):  296
Matched HHs (MIS8):  108
Matched HHs (MIS8):  61
Matched HHs (MIS8):  695
Matched HHs (MIS8):  77
Matched HHs (MIS8):  73
Replacement HHs (MIS8):  48
Total IDs created: 47306
Total IDs not created: 0


Current month: 1997-12-01 00:00:00
Total HHs in sample: 47252
New HHs (MIS1): 5706
Matched HHs (MIS2):  5620
Replacement HHs (MIS2):  342
Matched HHs (MIS3):  5577
Matched HHs (MIS3):  332
Replacement HHs (MIS3):  138
Matched HHs (MIS4):  5398
Matched HHs (MIS4):  338
Matched HHs (MIS4):  128
Replacement HHs (MIS4):  67
Matched HHs (MIS5):  4637
Matched HHs (MIS5):  234
Matched HHs (MIS5):  78
Matched HHs (MIS5):  29
Replacement HHs (MIS5):  759
Matched HHs (MIS6):  4698
Matched HHs (MIS6):  216
Matched HHs (MIS6):  85
Matched HHs (MIS6):  55
Matched HHs (MIS6):  787
Replacement HHs (MIS6):  73
Matched HHs (MIS7):  4783
Matched HHs (MIS7):  262
Matched HHs (MIS7):  67
Matched HHs (MIS7):  46
Matched HHs (MIS7):  704
Matched HHs (MIS7):  71
Replacement HHs (MIS7):  47
Matched HHs (MIS8):  4740
Matched HHs (MIS8):  240
Matched HHs (MIS8):  94
Matched HHs (MIS8):  37
Matched HHs (MIS8):  691
Matched HHs (MIS8):  80
Matched HHs (MIS8):  56
Replacement HHs (MIS8):  37
Total IDs created: 47252
Total IDs not created: 0


Current month: 1997-02-01 00:00:00
Total HHs in sample: 47165
New HHs (MIS1): 5756
Matched HHs (MIS2):  5594
Replacement HHs (MIS2):  312
Matched HHs (MIS3):  5578
Matched HHs (MIS3):  345
Replacement HHs (MIS3):  123
Matched HHs (MIS4):  5541
Matched HHs (MIS4):  280
Matched HHs (MIS4):  133
Replacement HHs (MIS4):  92
Matched HHs (MIS5):  4602
Matched HHs (MIS5):  284
Matched HHs (MIS5):  85
Matched HHs (MIS5):  55
Replacement HHs (MIS5):  707
Matched HHs (MIS6):  4508
Matched HHs (MIS6):  295
Matched HHs (MIS6):  98
Matched HHs (MIS6):  63
Matched HHs (MIS6):  758
Replacement HHs (MIS6):  87
Matched HHs (MIS7):  4457
Matched HHs (MIS7):  441
Matched HHs (MIS7):  130
Matched HHs (MIS7):  59
Matched HHs (MIS7):  696
Matched HHs (MIS7):  98
Replacement HHs (MIS7):  58
Matched HHs (MIS8):  4637
Matched HHs (MIS8):  201
Matched HHs (MIS8):  120
Matched HHs (MIS8):  76
Matched HHs (MIS8):  705
Matched HHs (MIS8):  79
Matched HHs (MIS8):  76
Replacement HHs (MIS8):  36
Total IDs created: 47165
Total IDs not created: 0


Current month: 1996-05-01 00:00:00
Total HHs in sample: 47078
New HHs (MIS1): 5718
Matched HHs (MIS2):  5632
Replacement HHs (MIS2):  347
Matched HHs (MIS3):  5412
Matched HHs (MIS3):  354
Replacement HHs (MIS3):  164
Matched HHs (MIS4):  5323
Matched HHs (MIS4):  392
Matched HHs (MIS4):  124
Replacement HHs (MIS4):  99
Matched HHs (MIS6):  5682
Replacement HHs (MIS6):  287
Matched HHs (MIS7):  5379
Matched HHs (MIS7):  294
Replacement HHs (MIS7):  162
Matched HHs (MIS8):  5282
Matched HHs (MIS8):  308
Matched HHs (MIS8):  151
Replacement HHs (MIS8):  116
Total IDs created: 41226
Total IDs not created: 5852


Current month: 1995-12-01 00:00:00
Total HHs in sample: 51343
New HHs (MIS1): 6107
Matched HHs (MIS2):  6168
Replacement HHs (MIS2):  309
Matched HHs (MIS3):  6002
Matched HHs (MIS3):  380
Replacement HHs (MIS3):  121
Matched HHs (MIS4):  5991
Matched HHs (MIS4):  369
Matched HHs (MIS4):  140
Replacement HHs (MIS4):  65
Matched HHs (MIS6):  6184
Replacement HHs (MIS6):  307
Matched HHs (MIS7):  6122
Matched HHs (MIS7):  296
Replacement HHs (MIS7):  124
Matched HHs (MIS8):  5989
Matched HHs (MIS8):  297
Matched HHs (MIS8):  163
Replacement HHs (MIS8):  70
Total IDs created: 45204
Total IDs not created: 6139


Current month: 1996-12-01 00:00:00
Total HHs in sample: 47981
New HHs (MIS1): 5889
Matched HHs (MIS2):  5757
Replacement HHs (MIS2):  314
Matched HHs (MIS3):  5704
Matched HHs (MIS3):  333
Replacement HHs (MIS3):  99
Matched HHs (MIS4):  5552
Matched HHs (MIS4):  324
Matched HHs (MIS4):  129
Replacement HHs (MIS4):  59
Matched HHs (MIS5):  4419
Matched HHs (MIS5):  442
Matched HHs (MIS5):  133
Matched HHs (MIS5):  53
Replacement HHs (MIS5):  774
Matched HHs (MIS6):  4663
Matched HHs (MIS6):  204
Matched HHs (MIS6):  119
Matched HHs (MIS6):  77
Matched HHs (MIS6):  770
Replacement HHs (MIS6):  85
Matched HHs (MIS7):  4690
Matched HHs (MIS7):  251
Matched HHs (MIS7):  66
Matched HHs (MIS7):  66
Matched HHs (MIS7):  778
Matched HHs (MIS7):  94
Replacement HHs (MIS7):  46
Matched HHs (MIS8):  4775
Matched HHs (MIS8):  261
Matched HHs (MIS8):  98
Matched HHs (MIS8):  37

Matched HHs (MIS8):  736
Matched HHs (MIS8):  77
Matched HHs (MIS8):  72
Replacement HHs (MIS8):  35
Total IDs created: 47981
Total IDs not created: 0


Current month: 1996-01-01 00:00:00
Total HHs in sample: 46810
New HHs (MIS1): 5626
Matched HHs (MIS2):  5342
Replacement HHs (MIS2):  619
Matched HHs (MIS3):  5442
Matched HHs (MIS3):  259
Replacement HHs (MIS3):  175
Matched HHs (MIS4):  5371
Matched HHs (MIS4):  340
Matched HHs (MIS4):  95
Replacement HHs (MIS4):  117
Matched HHs (MIS6):  5314
Replacement HHs (MIS6):  521
Matched HHs (MIS7):  5506
Matched HHs (MIS7):  252
Replacement HHs (MIS7):  161
Matched HHs (MIS8):  5468
Matched HHs (MIS8):  269
Matched HHs (MIS8):  107
Replacement HHs (MIS8):  101
Total IDs created: 41085
Total IDs not created: 5725


Current month: 1995-10-01 00:00:00
Total HHs in sample: 52658
New HHs (MIS1): 6376
Matched HHs (MIS2):  6210
Replacement HHs (MIS2):  427
Matched HHs (MIS3):  6400
Replacement HHs (MIS3):  244
Matched HHs (MIS4):  6397
Replacement HHs (MIS4):  261
Matched HHs (MIS6):  6192
Replacement HHs (MIS6):  340
Matched HHs (MIS7):  6407
Replacement HHs (MIS7):  290
Matched HHs (MIS8):  6403
Replacement HHs (MIS8):  220
Total IDs created: 46167
Total IDs not created: 6491


Current month: 1995-05-01 00:00:00
Total HHs in sample: 35791
New HHs (MIS1): 3736
Total IDs created: 3736
Total IDs not created: 32055


Current month: 1996-09-01 00:00:00
Total HHs in sample: 47795
New HHs (MIS1): 5865
Matched HHs (MIS2):  5716
Replacement HHs (MIS2):  365
Matched HHs (MIS3):  5455
Matched HHs (MIS3):  368
Replacement HHs (MIS3):  174
Matched HHs (MIS4):  5500
Matched HHs (MIS4):  287
Matched HHs (MIS4):  153
Replacement HHs (MIS4):  112
Matched HHs (MIS5):  4701
Matched HHs (MIS5):  243
Matched HHs (MIS5):  90
Matched HHs (MIS5):  39
Replacement HHs (MIS5):  823
Matched HHs (MIS6):  4974
Matched HHs (MIS6):  143
Matched HHs (MIS6):  62
Matched HHs (MIS6):  695
Replacement HHs (MIS6):  96
Matched HHs (MIS7):  4920
Matched HHs (MIS7):  150
Matched HHs (MIS7):  690
Matched HHs (MIS7):  122
Replacement HHs (MIS7):  79
Matched HHs (MIS8):  4914
Matched HHs (MIS8):  807
Matched HHs (MIS8):  98
Matched HHs (MIS8):  74
Replacement HHs (MIS8):  80
Total IDs created: 47795
Total IDs not created: 0


Current month: 1996-11-01 00:00:00
Total HHs in sample: 47966
New HHs (MIS1): 5866
Matched HHs (MIS2):  5746
Replacement HHs (MIS2):  354
Matched HHs (MIS3):  5575
Matched HHs (MIS3):  338
Replacement HHs (MIS3):  142
Matched HHs (MIS4):  5566
Matched HHs (MIS4):  335
Matched HHs (MIS4):  142
Replacement HHs (MIS4):  85
Matched HHs (MIS5):  4624
Matched HHs (MIS5):  197
Matched HHs (MIS5):  110
Matched HHs (MIS5):  72
Replacement HHs (MIS5):  797
Matched HHs (MIS6):  4702
Matched HHs (MIS6):  250
Matched HHs (MIS6):  64
Matched HHs (MIS6):  64
Matched HHs (MIS6):  785
Replacement HHs (MIS6):  101
Matched HHs (MIS7):  4759
Matched HHs (MIS7):  254
Matched HHs (MIS7):  97
Matched HHs (MIS7):  37
Matched HHs (MIS7):  746
Matched HHs (MIS7):  78
Replacement HHs (MIS7):  74
Matched HHs (MIS8):  4942
Matched HHs (MIS8):  142
Matched HHs (MIS8):  62
Matched HHs (MIS8):  648
Matched HHs (MIS8):  84
Matched HHs (MIS8):  61
Replacement HHs (MIS8):  67
Total IDs created: 47966
Total IDs not created: 0


Current month: 1996-02-01 00:00:00
Total HHs in sample: 46665
New HHs (MIS1): 5778
Matched HHs (MIS2):  5393
Replacement HHs (MIS2):  412
Matched HHs (MIS3):  5205
Matched HHs (MIS3):  581
Replacement HHs (MIS3):  214
Matched HHs (MIS4):  5353
Matched HHs (MIS4):  252
Matched HHs (MIS4):  161
Replacement HHs (MIS4):  111
Matched HHs (MIS6):  5479
Replacement HHs (MIS6):  318
Matched HHs (MIS7):  5219
Matched HHs (MIS7):  469
Replacement HHs (MIS7):  175
Matched HHs (MIS8):  5416
Matched HHs (MIS8):  240
Matched HHs (MIS8):  145
Replacement HHs (MIS8):  106
Total IDs created: 41027
Total IDs not created: 5638


Current month: 1997-07-01 00:00:00
Total HHs in sample: 47360
New HHs (MIS1): 5738
Matched HHs (MIS2):  5656
Replacement HHs (MIS2):  341
Matched HHs (MIS3):  5478
Matched HHs (MIS3):  332
Replacement HHs (MIS3):  159
Matched HHs (MIS4):  5405
Matched HHs (MIS4):  326
Matched HHs (MIS4):  145
Replacement HHs (MIS4):  98
Matched HHs (MIS5):  4713
Matched HHs (MIS5):  266
Matched HHs (MIS5):  107
Matched HHs (MIS5):  48
Replacement HHs (MIS5):  706
Matched HHs (MIS6):  4847
Matched HHs (MIS6):  245
Matched HHs (MIS6):  105
Matched HHs (MIS6):  63
Matched HHs (MIS6):  656
Replacement HHs (MIS6):  79
Matched HHs (MIS7):  4653
Matched HHs (MIS7):  275
Matched HHs (MIS7):  91
Matched HHs (MIS7):  69
Matched HHs (MIS7):  625
Matched HHs (MIS7):  94
Replacement HHs (MIS7):  53
Matched HHs (MIS8):  4757
Matched HHs (MIS8):  251
Matched HHs (MIS8):  104
Matched HHs (MIS8):  55
Matched HHs (MIS8):  600
Matched HHs (MIS8):  91
Matched HHs (MIS8):  56
Replacement HHs (MIS8):  73
Total IDs created: 47360
Total IDs not created: 0


Current month: 1996-08-01 00:00:00
Total HHs in sample: 47563
New HHs (MIS1): 5927
Matched HHs (MIS2):  5553
Replacement HHs (MIS2):  391
Matched HHs (MIS3):  5585
Matched HHs (MIS3):  302
Replacement HHs (MIS3):  164
Matched HHs (MIS4):  5319
Matched HHs (MIS4):  354
Matched HHs (MIS4):  122
Replacement HHs (MIS4):  105
Matched HHs (MIS5):  4922
Matched HHs (MIS5):  136
Matched HHs (MIS5):  62
Replacement HHs (MIS5):  755
Matched HHs (MIS6):  4922
Matched HHs (MIS6):  158
Matched HHs (MIS6):  723
Replacement HHs (MIS6):  135
Matched HHs (MIS7):  4938
Matched HHs (MIS7):  839
Matched HHs (MIS7):  100
Replacement HHs (MIS7):  80
Matched HHs (MIS8):  5425
Matched HHs (MIS8):  300
Matched HHs (MIS8):  118
Replacement HHs (MIS8):  128
Total IDs created: 47563
Total IDs not created: 0


Current month: 1997-06-01 00:00:00
Total HHs in sample: 47607
New HHs (MIS1): 5870
Matched HHs (MIS2):  5602
Replacement HHs (MIS2):  361
Matched HHs (MIS3):  5506
Matched HHs (MIS3):  331
Replacement HHs (MIS3):  152
Matched HHs (MIS4):  5482
Matched HHs (MIS4):  312
Matched HHs (MIS4):  138
Replacement HHs (MIS4):  85
Matched HHs (MIS5):  4806
Matched HHs (MIS5):  244
Matched HHs (MIS5):  105
Matched HHs (MIS5):  62
Replacement HHs (MIS5):  697
Matched HHs (MIS6):  4694
Matched HHs (MIS6):  272
Matched HHs (MIS6):  91
Matched HHs (MIS6):  72
Matched HHs (MIS6):  653
Replacement HHs (MIS6):  103
Matched HHs (MIS7):  4776
Matched HHs (MIS7):  258
Matched HHs (MIS7):  104
Matched HHs (MIS7):  58
Matched HHs (MIS7):  622
Matched HHs (MIS7):  97
Replacement HHs (MIS7):  58
Matched HHs (MIS8):  4657
Matched HHs (MIS8):  279
Matched HHs (MIS8):  98
Matched HHs (MIS8):  68
Matched HHs (MIS8):  672
Matched HHs (MIS8):  84
Matched HHs (MIS8):  73
Replacement HHs (MIS8):  65
Total IDs created: 47607
Total IDs not created: 0


Current month: 1997-09-01 00:00:00
Total HHs in sample: 48067
New HHs (MIS1): 5787
Matched HHs (MIS2):  5714
Replacement HHs (MIS2):  388
Matched HHs (MIS3):  5440
Matched HHs (MIS3):  438
Replacement HHs (MIS3):  193
Matched HHs (MIS4):  5477
Matched HHs (MIS4):  292
Matched HHs (MIS4):  150
Replacement HHs (MIS4):  94
Matched HHs (MIS5):  4720
Matched HHs (MIS5):  231
Matched HHs (MIS5):  89
Matched HHs (MIS5):  31
Replacement HHs (MIS5):  787
Matched HHs (MIS6):  4874
Matched HHs (MIS6):  254
Matched HHs (MIS6):  100
Matched HHs (MIS6):  50
Matched HHs (MIS6):  725
Replacement HHs (MIS6):  102
Matched HHs (MIS7):  4751
Matched HHs (MIS7):  286
Matched HHs (MIS7):  111
Matched HHs (MIS7):  52
Matched HHs (MIS7):  629
Matched HHs (MIS7):  126
Replacement HHs (MIS7):  74
Matched HHs (MIS8):  4866
Matched HHs (MIS8):  240
Matched HHs (MIS8):  112
Matched HHs (MIS8):  62
Matched HHs (MIS8):  615
Matched HHs (MIS8):  73
Matched HHs (MIS8):  69
Replacement HHs (MIS8):  65
Total IDs created: 48067
Total IDs not created: 0


Current month: 1996-07-01 00:00:00
Total HHs in sample: 47392
New HHs (MIS1): 5787
Matched HHs (MIS2):  5696
Replacement HHs (MIS2):  329
Matched HHs (MIS3):  5409
Matched HHs (MIS3):  359
Replacement HHs (MIS3):  136
Matched HHs (MIS4):  5431
Matched HHs (MIS4):  315
Matched HHs (MIS4):  137
Replacement HHs (MIS4):  82
Matched HHs (MIS5):  4876
Matched HHs (MIS5):  149
Replacement HHs (MIS5):  775
Matched HHs (MIS6):  4997
Matched HHs (MIS6):  863
Replacement HHs (MIS6):  119
Matched HHs (MIS7):  5489
Matched HHs (MIS7):  311
Replacement HHs (MIS7):  134
Matched HHs (MIS8):  5513
Matched HHs (MIS8):  251
Matched HHs (MIS8):  142
Replacement HHs (MIS8):  92
Total IDs created: 47392
Total IDs not created: 0


Current month: 1995-06-01 00:00:00

Total HHs in sample: 54271
New HHs (MIS1): 6671
Total IDs created: 6671
Total IDs not created: 47600


Current month: 1997-05-01 00:00:00
Total HHs in sample: 47500
New HHs (MIS1): 5813
Matched HHs (MIS2):  5645
Replacement HHs (MIS2):  366
Matched HHs (MIS3):  5561
Matched HHs (MIS3):  320
Replacement HHs (MIS3):  153
Matched HHs (MIS4):  5359
Matched HHs (MIS4):  325
Matched HHs (MIS4):  133
Replacement HHs (MIS4):  118
Matched HHs (MIS5):  4680
Matched HHs (MIS5):  266
Matched HHs (MIS5):  81
Matched HHs (MIS5):  71
Replacement HHs (MIS5):  696
Matched HHs (MIS6):  4794
Matched HHs (MIS6):  248
Matched HHs (MIS6):  109
Matched HHs (MIS6):  56
Matched HHs (MIS6):  652
Replacement HHs (MIS6):  108
Matched HHs (MIS7):  4657
Matched HHs (MIS7):  280
Matched HHs (MIS7):  101
Matched HHs (MIS7):  70
Matched HHs (MIS7):  702
Matched HHs (MIS7):  82
Replacement HHs (MIS7):  77
Matched HHs (MIS8):  4700
Matched HHs (MIS8):  315
Matched HHs (MIS8):  88
Matched HHs (MIS8):  60
Matched HHs (MIS8):  621
Matched HHs (MIS8):  83
Matched HHs (MIS8):  44
Replacement HHs (MIS8):  66
Total IDs created: 47500
Total IDs not created: 0


Current month: 1996-03-01 00:00:00
Total HHs in sample: 46620
New HHs (MIS1): 5748
Matched HHs (MIS2):  5548
Replacement HHs (MIS2):  429
Matched HHs (MIS3):  5259
Matched HHs (MIS3):  374
Replacement HHs (MIS3):  166
Matched HHs (MIS4):  5103
Matched HHs (MIS4):  551
Matched HHs (MIS4):  191
Replacement HHs (MIS4):  90
Matched HHs (MIS6):  5432
Replacement HHs (MIS6):  351
Matched HHs (MIS7):  5403
Matched HHs (MIS7):  281
Replacement HHs (MIS7):  150
Matched HHs (MIS8):  5167
Matched HHs (MIS8):  461
Matched HHs (MIS8):  154
Replacement HHs (MIS8):  100
Total IDs created: 40958
Total IDs not created: 5662


Current month: 1996-04-01 00:00:00
Total HHs in sample: 47213
New HHs (MIS1): 5885
Matched HHs (MIS2):  5572
Replacement HHs (MIS2):  395
Matched HHs (MIS3):  5468
Matched HHs (MIS3):  406
Replacement HHs (MIS3):  140
Matched HHs (MIS4):  5232
Matched HHs (MIS4):  376
Matched HHs (MIS4):  149
Replacement HHs (MIS4):  110
Matched HHs (MIS6):  5511
Replacement HHs (MIS6):  321
Matched HHs (MIS7):  5371
Matched HHs (MIS7):  321
Replacement HHs (MIS7):  167
Matched HHs (MIS8):  5372
Matched HHs (MIS8):  282
Matched HHs (MIS8):  136
Replacement HHs (MIS8):  102
Total IDs created: 41316
Total IDs not created: 5897


Current month: 1995-07-01 00:00:00
Total HHs in sample: 54210
New HHs (MIS1): 6585
Total IDs created: 6585
Total IDs not created: 47625


Current month: 1995-08-01 00:00:00
Total HHs in sample: 54393
New HHs (MIS1): 6666
Total IDs created: 6666
Total IDs not created: 47727


Current month: 1996-06-01 00:00:00
Total HHs in sample: 47363
New HHs (MIS1): 5907
Matched HHs (MIS2):  5513
Replacement HHs (MIS2):  387
Matched HHs (MIS3):  5513
Matched HHs (MIS3):  323
Replacement HHs (MIS3):  150
Matched HHs (MIS4):  5285
Matched HHs (MIS4):  348
Matched HHs (MIS4):  148
Replacement HHs (MIS4):  124
Matched HHs (MIS5):  4936
Replacement HHs (MIS5):  925
Matched HHs (MIS6):  5610
Replacement HHs (MIS6):  347
Matched HHs (MIS7):  5588
Matched HHs (MIS7):  251
Replacement HHs (MIS7):  153
Matched HHs (MIS8):  5314
Matched HHs (MIS8):  281
Matched HHs (MIS8):  149
Replacement HHs (MIS8):  111
Total IDs created: 47363
Total IDs not created: 0


Current month: 1997-11-01 00:00:00
Total HHs in sample: 48073
New HHs (MIS1): 5827
Matched HHs (MIS2):  5728
Replacement HHs (MIS2):  364
Matched HHs (MIS3):  5499
Matched HHs (MIS3):  350
Replacement HHs (MIS3):  141
Matched HHs (MIS4):  5540
Matched HHs (MIS4):  350
Matched HHs (MIS4):  152
Replacement HHs (MIS4):  96
Matched HHs (MIS5):  4678
Matched HHs (MIS5):  208
Matched HHs (MIS5):  88
Matched HHs (MIS5):  56
Replacement HHs (MIS5):  851
Matched HHs (MIS6):  4811
Matched HHs (MIS6):  258
Matched HHs (MIS6):  64
Matched HHs (MIS6):  53
Matched HHs (MIS6):  740
Replacement HHs (MIS6):  86
Matched HHs (MIS7):  4750
Matched HHs (MIS7):  238
Matched HHs (MIS7):  93
Matched HHs (MIS7):  35
Matched HHs (MIS7):  720
Matched HHs (MIS7):  85
Replacement HHs (MIS7):  61
Matched HHs (MIS8):  4855
Matched HHs (MIS8):  262
Matched HHs (MIS8):  104
Matched HHs (MIS8):  52
Matched HHs (MIS8):  688
Matched HHs (MIS8):  86
Matched HHs (MIS8):  58
Replacement HHs (MIS8):  46
Total IDs created: 48073
Total IDs not created: 0


Current month: 1995-11-01 00:00:00
Total HHs in sample: 52360
New HHs (MIS1): 6383
Matched HHs (MIS2):  6129
Replacement HHs (MIS2):  414
Matched HHs (MIS3):  6059
Matched HHs (MIS3):  391
Replacement HHs (MIS3):  159
Matched HHs (MIS4):  6284
Matched HHs (MIS4):  221
Replacement HHs (MIS4):  119
Matched HHs (MIS6):  6239
Replacement HHs (MIS6):  337
Matched HHs (MIS7):  6067
Matched HHs (MIS7):  303
Replacement HHs (MIS7):  182
Matched HHs (MIS8):  6302
Matched HHs (MIS8):  252
Replacement HHs (MIS8):  118
Total IDs created: 45959
Total IDs not created: 6401


Current month: 1997-08-01 00:00:00
Total HHs in sample: 47727
New HHs (MIS1): 5894
Matched HHs (MIS2):  5531
Replacement HHs (MIS2):  463
Matched HHs (MIS3):  5541
Matched HHs (MIS3):  296
Replacement HHs (MIS3):  163
Matched HHs (MIS4):  5391
Matched HHs (MIS4):  327
Matched HHs (MIS4):  145
Replacement HHs (MIS4):  138
Matched HHs (MIS5):  4794
Matched HHs (MIS5):  240
Matched HHs (MIS5):  98
Matched HHs (MIS5):  49
Replacement HHs (MIS5):  769
Matched HHs (MIS6):  4730
Matched HHs (MIS6):  273
Matched HHs (MIS6):  106
Matched HHs (MIS6):  51
Matched HHs (MIS6):  645
Replacement HHs (MIS6):  132
Matched HHs (MIS7):  4851
Matched HHs (MIS7):  242
Matched HHs (MIS7):  108
Matched HHs (MIS7):  62
Matched HHs (MIS7):  629
Matched HHs (MIS7):  74
Replacement HHs (MIS7):  76
Matched HHs (MIS8):  4678
Matched HHs (MIS8):  280
Matched HHs (MIS8):  92
Matched HHs (MIS8):  64
Matched HHs (MIS8):  605
Matched HHs (MIS8):  84
Matched HHs (MIS8):  46
Replacement HHs (MIS8):  60
Total IDs created: 47727
Total IDs not created: 0


Current month: 1995-09-01 00:00:00
Total HHs in sample: 52531
New HHs (MIS1): 6416
Total IDs created: 6416
Total IDs not created: 46115


Current month: 1997-10-01 00:00:00
Total HHs in sample: 47995
New HHs (MIS1): 5889
Matched HHs (MIS2):  5588
Replacement HHs (MIS2):  376
Matched HHs (MIS3):  5584
Matched HHs (MIS3):  354
Replacement HHs (MIS3):  162
Matched HHs (MIS4):  5347
Matched HHs (MIS4):  423
Matched HHs (MIS4):  173
Replacement HHs (MIS4):  113
Matched HHs (MIS5):  4758
Matched HHs (MIS5):  244
Matched HHs (MIS5):  61
Matched HHs (MIS5):  50
Replacement HHs (MIS5):  773
Matched HHs (MIS6):  4758
Matched HHs (MIS6):  237
Matched HHs (MIS6):  91
Matched HHs (MIS6):  30
Matched HHs (MIS6):  731
Replacement HHs (MIS6):  90
Matched HHs (MIS7):  4849
Matched HHs (MIS7):  258
Matched HHs (MIS7):  108
Matched HHs (MIS7):  52
Matched HHs (MIS7):  698
Matched HHs (MIS7):  82
Replacement HHs (MIS7):  67
Matched HHs (MIS8):  4742
Matched HHs (MIS8):  288
Matched HHs (MIS8):  109
Matched HHs (MIS8):  54
Matched HHs (MIS8):  613
Matched HHs (MIS8):  117
Matched HHs (MIS8):  63
Replacement HHs (MIS8):  63
Total IDs created: 47995
Total IDs not created: 0


Total months of IDs: 285