### BLS API retrieval tool

In [1]:
# Import preliminaries
import requests
import pandas as pd
import json

# Local file with API key
import config


def api(series, date_range):
    """Collect list of series from BLS API for given dates"""
    # The url for BLS API v2
    url = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'

    # API key in config.py which contains: bls_key = 'key'
    key = '?registrationkey={}'.format(config.bls_key)

    # Handle dates
    dates = [(str(date_range[0]), str(date_range[1]))]
    while int(dates[-1][1]) - int(dates[-1][0]) > 10:
        dates = [(str(date_range[0]), str(date_range[0] + 9))]
        d1 = int(dates[-1][0])
        while int(dates[-1][1]) < date_range[1]:
            d1 = d1 + 10
            d2 = min([date_range[1], d1 + 9])
            dates.append((str(d1), (d2)))

    df = pd.DataFrame()

    for start, end in dates:
        # Submit the list of series as data
        data = json.dumps({
            "seriesid": list(series.keys()),
            "startyear": start, "endyear": end})

        # Post request for the data
        p = requests.post(
            '{}{}'.format(url, key),
            headers={'Content-type': 'application/json'},
            data=data).json()
        for s in p['Results']['series']:
            col = series[s['seriesID']]
            for r in s['data']:
                date = pd.to_datetime('{} {}'.format(
                    r['periodName'], r['year']))
                df.at[date, col] = float(r['value'])
    df = df.sort_index()
    # Output results
    print('Request Status: {}'.format(p['status']))
    print(f'Columns: {df.shape[1]}, Rows: {df.shape[0]}')
    print(f'Latest date: {df.index[-1].date()}')
    
    return df

In [4]:
# Series stored as {id: name}
slist = {'CUUR0000SA0': 'CPI'}

# Start year and end year
dates = (1994, 2018)

In [5]:
df = api(slist, dates)

Request Status: REQUEST_SUCCEEDED
Columns: 1, Rows: 295
Latest date: 2018-07-01

                  CPI
1994-01-01   8.702174
1994-02-01   8.731935
1994-03-01   8.761696
1994-04-01   8.773601
1994-05-01   8.779553
1994-06-01   8.809314
1994-07-01   8.833123
1994-08-01   8.868836
1994-09-01   8.892645
1994-10-01   8.898598
1994-11-01   8.910502
1994-12-01   8.910502
1995-01-01   8.946216
1995-02-01   8.981929
1995-03-01   9.011690
1995-04-01   9.041451
1995-05-01   9.059308
1995-06-01   9.077165
1995-07-01   9.077165
1995-08-01   9.100974
1995-09-01   9.118831
1995-10-01   9.148592
1995-11-01   9.142639
1995-12-01   9.136687
1996-01-01   9.190257
1996-02-01   9.220019
1996-03-01   9.267636
1996-04-01   9.303350
1996-05-01   9.321207
1996-06-01   9.327159
...               ...
2016-02-01  14.113414
2016-03-01  14.174186
2016-04-01  14.241387
2016-05-01  14.299005
2016-06-01  14.345968
2016-07-01  14.322754
2016-08-01  14.335909
2016-09-01  14.370372
2016-10-01  14.388288
2016-11-01  14.365908
2016-12-01  14.370610
2017-01-01  14.454358
2017-02-01  14.499833
2017-03-01  14.511619
2017-04-01  14.554653
2017-05-01  14.567094
2017-06-01  14.580308
2017-07-01  14.570248
2017-08-01  14.613878
2017-09-01  14.691257
2017-10-01  14.681972
2017-11-01  14.682329
2017-12-01  14.673698
2018-01-01  14.753637
2018-02-01  14.820540
2018-03-01  14.854051
2018-04-01  14.913097
2018-05-01  14.975120
2018-06-01  14.998988
2018-07-01  15.000000

[295 rows x 1 columns]

In [6]:
df['fifteen_bucks'] = df.loc['']

                CPI
1994-01-01  146.200
1994-02-01  146.700
1994-03-01  147.200
1994-04-01  147.400
1994-05-01  147.500
1994-06-01  148.000
1994-07-01  148.400
1994-08-01  149.000
1994-09-01  149.400
1994-10-01  149.500
1994-11-01  149.700
1994-12-01  149.700
1995-01-01  150.300
1995-02-01  150.900
1995-03-01  151.400
1995-04-01  151.900
1995-05-01  152.200
1995-06-01  152.500
1995-07-01  152.500
1995-08-01  152.900
1995-09-01  153.200
1995-10-01  153.700
1995-11-01  153.600
1995-12-01  153.500
1996-01-01  154.400
1996-02-01  154.900
1996-03-01  155.700
1996-04-01  156.300
1996-05-01  156.600
1996-06-01  156.700
...             ...
2016-02-01  237.111
2016-03-01  238.132
2016-04-01  239.261
2016-05-01  240.229
2016-06-01  241.018
2016-07-01  240.628
2016-08-01  240.849
2016-09-01  241.428
2016-10-01  241.729
2016-11-01  241.353
2016-12-01  241.432
2017-01-01  242.839
2017-02-01  243.603
2017-03-01  243.801
2017-04-01  244.524
2017-05-01  244.733
2017-06-01  244.955
2017-07-01  244.786
2017-08-01  245.519
2017-09-01  246.819
2017-10-01  246.663
2017-11-01  246.669
2017-12-01  246.524
2018-01-01  247.867
2018-02-01  248.991
2018-03-01  249.554
2018-04-01  250.546
2018-05-01  251.588
2018-06-01  251.989
2018-07-01  252.006

[295 rows x 1 columns]